body {font-family: Tahoma, sans-serif;background-color: #f2f2f2;margin: 0;padding: 0;}
h1 {text-align: center;color: #5355d4;}
nav {background-color: #dd4c08;padding: 15px;text-align: left;}nav a {color: white;text-decoration: none;margin: 15px;font-weight: bold;
}nav a:hover {color: #f39c12;}
p {text-align: left;padding: 10px;line-height: 1.7;}
img {display: block;margin: 10px auto;border-radius: 10px}
table{border:="3"}
video {display: block;margin: 20px auto;}{LIST}
ul {text-align: left;list-style-position: inside;}
footer {background-color: #2c3e50; color: white; text-align: left;padding: 10px; margin-top: 20px;}